<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginFrom" (ngSubmit)="onLoginFormSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="pass">Password:</label>
      <input type="password" id="pass" formControlName="pass" required>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
<div class="flex">
  <div class="overflow-auto">
    <div class="register-container">
      <h2>Register</h2>
      <form (ngSubmit)="onRegisterFormSubmit()" [formGroup]="registerForm" enctype="multipart/form-data">
        <label for="name">Nombre:</label>
        <input class="w-full" type="text" id="name" formControlName="name"><br>
        <label for="surname1">Apellido 1:</label>
        <input class="w-full" type="text" id="surname1" formControlName="surname1"><br>
        <label for="surname2">Apellido 2:</label>
        <input class="w-full" type="text" id="surname2" formControlName="surname2"><br>
        <label for="phoneNumber">Teléfono:</label>
        <input class="w-full" type="phone" id="phoneNumber" formControlName="phoneNumber"><br>
        <label for="reg-email">E-mail:</label>
        <input class="w-full" type="email" id="reg-email" formControlName="email"><br>
        <label for="reg-pass">Password:</label>
        <input class="w-full" type="password" id="reg-pass" formControlName="pass"><br>
        <label for="pass2">Password2:</label>
        <input class="w-full" type="password" id="pass2" formControlName="pass2"><br>
        <label for="bday">Nacimiento:</label>
        <input class="w-full" type="date" id="bday" formControlName="bday"><br>
        <label for="image">Imagen de Perfil:</label>
        <input class="w-full" type="file" id="image" formControlName="image" (change)="onFileSelected($event)"><br><br>
        <button class="w-full btn btn-primary mt-3 mb-3" type="submit">Enviar</button>
      </form>
      </div>
    <div *ngIf="contacts$ | async as contacts">
      <div *ngIf="contacts.length > 0; else noContacts">
        <h2>Users Table</h2>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Nacimiento</th>
            <th>Imagen</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of contacts">
            <td>{{user.name}}</td>
            <td>{{user.surname1}}</td>
            <td>{{user.surname2}}</td>
            <td><a href="mailto:{{user.email}}"><i class="bi bi-envelope-at"></i>&nbsp;&nbsp;{{user.email}}</a></td>
            <td><a href="{{'tel:' + user.phoneNumber}}"><i class="bi bi-telephone-inbound"></i>&nbsp;&nbsp;{{user.phoneNumber}}</a></td>
            <td>{{user.bday}}</td>
            <td><a href="https://88.24.26.59{{user.profileImage}}" target="_blank"><img src="{{'https://88.24.26.59' + user.profileImage}}" alt="User Image" class="img-fluid" style="width: 50px; height: 50px;"></a></td>
            <td><button class="btn btn-secondary" (click)="onUpdate(user.id)">Update</button><button class="btn btn-danger" (click)="onDelete(user.id)">Delete</button></td>
          </tr>
        </table>
      </div>
      <ng-template #noContacts>
        <p>No hay contactos</p>
      </ng-template>
    </div>
  </div>
</div>
